<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body class="page">
        <%- include('block/face') %>
        <%- include('block/info') %>
        <%- include('block/symptoms') %>
        <%- include('block/product') %>
        <%- include('block/steps') %>
        <%- include('block/professional') %>
        <%- include('block/result') %>
        <%- include('block/face') %>
        <%- include('block/script') %>
    </body>
</html>
